<p>ticket works!</p>


<div class="d-flex justify-content-between align-items-center mb-4 ps-3 pe-4">
    <h1 class="display-3">Ticket 1</h1>
    <button class="btn btn-primary">Edit</button>
</div>
<div class="m-4 p-3 bg-white shadow rounded d-flex align-items-start justify-content-around">
    <div class="w-75 ">
    <div class="my-3 me-4 card card-body bg-info bg-opacity-10 border-0 border-bottom border-info border-3">description <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex ullam similique expedita veniam quae, nostrum harum odit commodi! Nostrum, rerum?</p></div>
    </div>
    <div class="w-25">
        <div class="my-3 card card-body bg-info bg-opacity-10 border-0 border-bottom border-info border-3">user: Yochai Glik</div>
        <div class="my-3 card card-body bg-info bg-opacity-10 border-0 border-bottom border-info border-3">date: 19.11.21</div>
        <div class="my-3 card card-body bg-info bg-opacity-10 border-0 border-bottom border-info border-3">priority: **
        </div>
    </div>
</div>