<p>login works!</p>
<div class="container text-center bg-light rounded shadow p-5">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
  </svg>    <h1 class="display-1">
        Login
    </h1>
    <form class="mx-auto"> 
        <div class="row mb-3">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="my@mail.com">
          </div>
        </div>
        <div class="row mb-5">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-sm-10 offset-sm-1">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="remember">
              <label class="form-check-label" for="remember">
                Remember me
              </label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>

      
</div>
