<p>dashboard works!</p>
<div class="bg-light p-3">
    <div class="d-flex justify-content-between align-items-center mb-4 ps-3 pe-4">
        <h1 class="display-3">all tickets</h1>
        <button class="btn btn-primary"> add new</button>
    </div>
    <ul class="list-group">
        <li routerLink="/ticket" class="btn btn-info list-group-item my-2 d-flex align-items-center justify-content-between border-0 rounded shadow">
            <span>item 1</span>
            <span>description</span>
            <span>user</span>
            <button class="btn btn-danger">delete</button>
        </li>
        <li class="btn btn-info list-group-item my-2 d-flex align-items-center justify-content-between border-0 rounded shadow">
            <span>item 2</span>
            <span>description</span>
            <span>user</span>
            <button class="btn btn-danger">delete</button>
        </li>
        <li class="btn btn-info list-group-item my-2 d-flex align-items-center justify-content-between border-0 rounded shadow">
            <span>item 3</span>
            <span>description</span>
            <span>user</span>
            <button class="btn btn-danger">delete</button>
        </li>
    </ul>
</div>